.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 90vh;
  /* background-color: #393E46; */
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  background-color: #4ECCA3;
  border: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  color: #232931;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  font-family: 'Lobster', cursive;
  display: block;      
  margin: 50px auto;    
}
